.addpedido {
  width: 100%;  
  margin: 0 auto;
}

.addpedido input.input-addpedido{
  width: 100%;
  height: 40px;           
  padding: 0px;
  font-size: 18px;       
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  appearance: none; 
}

.addpedido select {
  width: 100%;
  height: 40px;           
  padding: 0 10px;
  font-size: 18px;       
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  appearance: none;       
}


.addpedido input.input-addpedido:hover,
.addpedido select:hover {
  border-color: #999;
}


.addpedido input.input-addpedido:focus,
.addpedido select:focus {
  border-color: #022847;
  box-shadow: 0 0 6px rgba(31, 111, 235, 0.5);
  outline: none;
}


.addpedido-cliente-grid,
.addpedido-producto-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 20px;
  background: #022847;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}


.addpedido .full-column {
  grid-column: span 2;
}


.addpedido .btn-agregar-producto {
  grid-column: span 2;
  justify-self: center;
  padding: 10px 25px;
  background-color: #022847;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.addpedido table {
  width: 100%;
  border-collapse: collapse;
}

.addpedido th,
.addpedido td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}


.addpedido .btn-eliminar {
  padding: 6px 12px;
  background: #817e7d;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}


.addpedido select {
  padding-right: 30px;
}
