.otp-inputs {
display: flex;
justify-content: center;
gap: 12px;
}


.otp-inputs input {
width: 55px;
height: 55px;
border-radius: 10px;
border: 1px solid #ddd;
text-align: center;
font-size: 22px;
}


.otp-inputs input:focus {
outline: none;
border-color: #1d4ed8;
}